/* Bordered form */

html{
  background-color: white;
  background-image: url(images/angloletreiro.jpg);
  background-blend-mode: multiply;
  background-size: cover;
}

html *
{
   font-size: 1em !important;
   color: #000 !important;
   font-family: 'Roboto', sans-serif;
}

form {
  background-color: #f1f1f1;
    border: 3px solid #f1f1f1;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  img.ufpel_logo{
    width: 35%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
    text-align: center;
  }

  .lbl {
    padding: 16px;
    text-align: center;
  }

  .innercontainer{
    padding: 10px;
  }

  .barcontainer{
    height: 40px;
    margin: 15px;
    background-color: blue;
    border-radius: 5px;
    position: relative;
  }
  
 .innercontainer_2{
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #04AA6D;
  }